<style>      
  	.navbar a {
        padding: 0px;
    }
    .navbar a.active {
    	background-color: #0000ff;
        color: white;

    }
	.navbar {
        background-color: #000080;
        color: white;

    }
 
</style>